[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
black = "*"
langchain-experimental = "*"
langchain-openai = "*"
langchainhub = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
qrcode = "*"
pandas = "*"
tabulate = "*"
pyspark = "==3.4.2"
setuptools = "*"
pyarrow = "*"
grpcio = "*"
google = "*"
google-api-python-client = "*"
grpcio-status = "*"

[dev-packages]

[requires]
python_version = "3.12"
